.container {
    margin:auto;
    width: 1000px;
    height: 800px;
    background-color:beige;
    border: 5px solid saddlebrown;
    padding: 10px;
    
}

.container div.header{
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: saddlebrown;
    padding: 25px 0px 25px 0px;
}

.header h1{
    color: white;
    font-size: 1.8em;
}

.column{
    width: 80%;
    margin:auto;
    text-align:center;
}
